body {
  font-family: "Overpass", sans-serif;
  color: #fff;
}

main {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a 90%);
}

ul li:first-child,
ul li:nth-child(2) {
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  border-right: none;
}

.btn {
  color: #fff;
  border: 2px solid #fff;
}

.btn:hover {
  color: #ff5e3a;
  border: 2px solid #fff;
  background-color: #fff;
}

@media only screen and (min-width: 36em) {

  ul li:first-child,
  ul li:nth-child(2) {
    border-right: 2px solid rgba(255, 255, 255, 1);
    border-bottom: none;
  }

}
